# Stripe
STRIPE_API_KEY=
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_SUCESS_URL=http://localhost:3000/posts
STRIPE_CANCEL_URL=http://localhost:3000/

# Github
GITHUB_ID=
GITHUB_SECRET=

# FaunaDB
FAUNADB_KEY=

# JWT
SIGNING_KEY=

#NEXT-AUTH
NEXTAUTH_URL=http://localhost:3000/api/auth

#PRISMIC
PRISMIC_ACESS_TOKEN=
# Stripe
STRIPE_API_KEY=
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_SUCESS_URL=http://localhost:3000/posts
STRIPE_CANCEL_URL=http://localhost:3000/

# Github
GITHUB_ID=
GITHUB_SECRET=

# FaunaDB
FAUNADB_KEY=

# JWT
SIGNING_KEY=

#NEXT-AUTH
NEXTAUTH_URL=http://localhost:3000/api/auth

#PRISMIC
PRISMIC_ACESS_TOKEN=